/* My styles */
body {
	background: linear-gradient(33deg, #62d396 20%, #6b4be1 90% 80%);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
input {
	background-color: transparent !important;
	border: none !important;
	border-bottom: 2px solid black !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	margin-bottom: 10px !important;
}
.credits {
	text-align: center;
}
body.swal2-height-auto {
	height: 100vh !important;
}
